.header {
  position: relative;
  background: url("../img/header/background.png");
}

.header-block {
  padding: 50px 50px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__logo:hover {
  cursor: pointer;
}

.header-nav__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.header-nav__burger:hover {
  cursor: pointer;
}

.header-nav__burger span {
  display: block;
  content: '';
  width: 25px;
  height: 5px;
  border-radius: 3px;
  background-color: white;
}

.header-nav__burger span:after {
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  display: block;
  content: '';
  width: 34px;
  height: 5px;
  border-radius: 3px;
  background-color: white;
}

.header-nav__burger span:before {
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  display: block;
  content: '';
  width: 20px;
  height: 5px;
  border-radius: 3px;
  background-color: white;
}

.header-nav__active {
  -webkit-filter: brightness(100%) !important;
          filter: brightness(100%) !important;
  padding-bottom: 10px;
  border-bottom: 4px solid red;
}

.header-nav__menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Lato;
  padding-bottom: 10px;
  margin-right: 50px;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.header-nav__menu a:last-child {
  margin-right: 0px;
}

.header-nav__menu a:hover {
  padding-bottom: 10px;
  border-bottom: 4px solid red;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.header-text {
  text-align: center;
  padding-top: 250px;
}

.header-text h1 {
  margin: 0;
  color: #ffffff;
  font-family: Lato;
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
}

.header-text h2 {
  margin: 0;
  font-size: 100px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Lato - Thin";
  font-weight: 400;
  line-height: 80.21px;
}

.header-btn {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 296px;
}

.header-btn a {
  margin: 0;
  color: #ffffff;
  border-radius: 30px;
  background-color: #ea0d60;
  padding: 20px 45px;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.dots {
  position: absolute;
  top: 30%;
  right: 5%;
}

.dot:hover {
  cursor: pointer;
}

.dot p {
  color: #56D8FF;
  font-family: Lato;
  font-size: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.dot-active p {
  font-size: 40px;
}

@media (max-width: 1110px) {
  .header {
    background-size: auto;
  }
  .header-nav__menu a {
    font-size: 20px;
  }
  .header-text {
    padding-top: 150px;
  }
  .header-text h1 {
    font-size: 90px;
  }
  .header-text h2 {
    font-size: 90px;
  }
  .header-btn {
    padding-bottom: 230px;
  }
}

@media (max-width: 990px) {
  .header-nav__menu a {
    margin-right: 15px;
  }
  .header-text {
    padding-top: 100px;
  }
  .header-text h1 {
    font-size: 60px;
  }
  .header-text h2 {
    font-size: 60px;
  }
  .header-btn {
    padding-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .header {
    background-position: center;
  }
  .header-nav__menu {
    display: none;
  }
  .header-btn {
    padding-bottom: 50px;
  }
}

@media (max-width: 425px) {
  .header-text {
    padding-top: 50px;
  }
  .header-text h1 {
    font-size: 40px;
  }
  .header-text h2 {
    font-size: 40px;
    line-height: 60px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Lato - Thin";
  src: url("../fonts/Lato-Thin.ttf") format("opentype");
}

.overview {
  position: relative;
}

.overview-header {
  position: relative;
  text-align: center;
}

.overview-header__span {
  color: #ea0d60;
}

.overview-header h2 {
  right: 46%;
  top: 0%;
  position: absolute;
  color: #111111;
  font-family: Lato;
  font-size: 65px;
  font-weight: 400;
  line-height: 31px;
  z-index: 2;
  text-transform: uppercase;
}

.overview-header p {
  padding-top: 25px;
  margin-right: 600px;
  opacity: 0.4;
  color: #888888;
  font-family: Lato;
  font-size: 65px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}

.overview-text {
  right: 33.5%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overview-text p {
  width: 610px;
  color: #111111;
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.1px;
}

.overview-block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.overview-auto__one {
  margin-top: 249px;
}

.overview-auto__two {
  margin-top: 270px;
}

@media (max-width: 1610px) {
  .overview-auto__two {
    display: none;
  }
}

@media (max-width: 1110px) {
  .overview {
    background: url("../img/overview/auto-2.png") no-repeat;
    background-position: right;
    background-size: contain;
  }
  .overview-header {
    padding-top: 50px;
  }
  .overview-header p {
    position: relative;
    padding-top: 0px;
    margin: 0;
  }
  .overview-header h2 {
    padding-top: 30px;
    margin: 0;
    position: relative;
    right: 0%;
  }
  .overview-text {
    padding-top: 30px;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0%;
  }
  .overview-text p {
    color: sienna;
  }
  .overview-block__img {
    display: none;
  }
}

@media (max-width: 768px) {
  .overview {
    background: url("../img/overview/auto-1.png") no-repeat;
    background-size: cover;
  }
  .overview-header {
    padding-top: 50px;
  }
  .overview-text p {
    width: 90%;
    color: black;
  }
  .overview-block {
    padding-top: 30px;
  }
}

@media (max-width: 425px) {
  .overview-header {
    padding-top: 30px;
  }
  .overview-header p {
    opacity: 1;
    font-size: 50px;
    color: #ea0d60;
  }
  .overview-header h2 {
    font-size: 40px;
  }
}

.details {
  position: relative;
}

.details-block {
  padding-top: 20px;
}

.details-header {
  position: relative;
}

.details-header p {
  margin: 0;
  padding-top: 25px;
  padding-right: 390px;
  margin: 0;
  text-align: center;
  opacity: 0.4;
  color: #888888;
  font-family: Lato;
  font-size: 65px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}

.details-header h2 {
  right: 46%;
  top: 0%;
  position: absolute;
  color: #111111;
  font-family: Lato;
  font-size: 65px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}

.details-header span {
  color: #ea0d60;
}

.details-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-left: 280px;
}

.details-text p {
  width: 700px;
  color: #111111;
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.details-front p {
  text-align: center;
  margin: 0;
  opacity: 0.2;
  color: #000000;
  font-family: Montserrat;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

.details-front__car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details-front__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.details-front__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.details-front__left img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.details-front__right img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.details-left__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
}

.details-right__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 5px;
}

.details-first__box {
  margin-top: 60px;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: 65px;
  height: 65px;
}

.details-second__box {
  margin-top: 60px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000000;
  width: 65px;
  height: 65px;
}

.details-third__box {
  margin-top: 30px;
  border-top: 1px solid #000000;
  width: 65px;
  height: 65px;
}

.details-fourth__box {
  margin-bottom: 30px;
  border-bottom: 1px solid #000000;
  width: 65px;
  height: 65px;
}

@media (max-width: 1110px) {
  .details-header p {
    padding-right: 0px;
  }
  .details-header h2 {
    margin: 0;
    padding-top: 30px;
    text-align: center;
    right: 0%;
    position: relative;
  }
  .details-text {
    margin-left: 0px;
  }
  .details-first__box {
    width: 20px;
  }
  .details-second__box {
    width: 20px;
  }
  .details-third__box {
    width: 20px;
  }
  .details-fourth__box {
    width: 20px;
  }
}

@media (max-width: 990px) {
  .details-right__box {
    display: none;
  }
  .details-left__box {
    display: none;
  }
  .details-front__car {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .details-front__left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 0px;
  }
  .details-front__left img {
    margin: 20px;
  }
  .details-front__right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 0px;
  }
  .details-front__right img {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .details-text p {
    width: 90%;
  }
  .details-center__car {
    width: 400px;
  }
  .details-front__left img {
    margin: 5px;
  }
  .details-front__right img {
    margin: 5px;
  }
}

@media (max-width: 425px) {
  .details-header h2 {
    font-size: 40px;
  }
  .details-header p {
    opacity: 1;
    font-size: 50px;
    color: #ea0d60;
  }
  .details-center__car {
    width: 290px;
  }
  .details-front p {
    font-size: 70px;
  }
  .details-front__left img {
    width: 140px;
    height: 140px;
  }
  .details-front__right img {
    width: 140px;
    height: 140px;
  }
}

.back {
  position: relative;
}

.back-block {
  padding-top: 100px;
  text-align: center;
}

.back-header h2 {
  margin: 0;
  opacity: 0.2;
  color: #000000;
  font-family: Montserrat;
  font-size: 113px;
  font-weight: 700;
  line-height: 188.19px;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

.back-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.back-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 10px;
}

.back-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.back-left img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.back-right img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 90px;
}

.back-subtext {
  margin-top: 50px;
  margin-bottom: 100px;
}

.back-subtext p {
  margin: 0;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.64px;
}

.back-subtext a {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ea0d60;
  text-decoration: underline;
}

.back-left__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.back-left__line div {
  margin-bottom: 30px;
  width: 65px;
  height: 65px;
  border-top: 1px solid #000000;
}

.back-right__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-right__line div {
  margin-bottom: 30px;
  width: 65px;
  height: 65px;
  border-top: 1px solid #000000;
}

@media (max-width: 1110px) {
  .back-left__line div {
    width: 20px;
  }
  .back-right__line div {
    width: 20px;
  }
}

@media (max-width: 990px) {
  .back-left__line {
    display: none;
  }
  .back-right__line {
    display: none;
  }
  .back-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .back-left {
    margin-right: 0px;
  }
  .back-right {
    margin-left: 0px;
  }
  .back-left img {
    margin: 20px;
  }
  .back-right img {
    margin: 20px;
  }
  .back-block {
    padding-top: 20px;
  }
  .back-header h2 {
    line-height: 100px;
  }
}

@media (max-width: 768px) {
  .back-wrap {
    margin-top: 50px;
  }
  .back-center img {
    width: 400px;
  }
}

@media (max-width: 425px) {
  .back-center img {
    width: 290px;
  }
  .back-header h2 {
    font-size: 70px;
  }
}

.price {
  position: relative;
  background: #000000;
}

.price-block {
  position: relative;
  padding-top: 100px;
  padding-bottom: 250px;
}

.price-header {
  position: relative;
}

.price-header p {
  margin: 0;
  padding-top: 25px;
  padding-right: 390px;
  margin: 0;
  text-align: center;
  opacity: 0.4;
  color: #888888;
  font-family: Lato;
  font-size: 65px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}

.price-header h2 {
  right: 50%;
  top: 0%;
  position: absolute;
  color: #ffffff;
  font-family: Lato;
  font-size: 65px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}

.price-header span {
  color: #ea0d60;
}

.price-title {
  text-align: center;
  margin-top: 100px;
}

.price-text {
  margin: 0;
  color: #8A8A8A;
  font-size: 39px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Lato - Thin";
  font-weight: 100;
}

.price-subtext {
  margin: 0;
  color: #ffffff;
  font-family: Lato;
  font-size: 39px;
  font-weight: 400;
  text-transform: uppercase;
}

.price-sum {
  text-align: center;
  margin: 0;
  text-shadow: 0 0 9px rgba(234, 13, 96, 0.55);
  color: #ea0d60;
  font-family: Lato;
  font-size: 128px;
  font-weight: 400;
  line-height: 103px;
  text-transform: uppercase;
  color: #ea0d60;
}

.price-btn {
  text-align: center;
}

.price-btn a {
  border-radius: 25px;
  background-color: #ea0d60;
  padding: 20px 40px;
  color: #ffffff;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  cursor: pointer;
}

.price-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  bottom: 0%;
  position: absolute;
}

.price-img__right {
  right: 0%;
}

@media (max-width: 1370px) {
  .price-img__right {
    display: none;
  }
}

@media (max-width: 1110px) {
  .price-header p {
    padding-right: 0px;
  }
  .price-header h2 {
    margin: 0;
    padding-top: 30px;
    text-align: center;
    right: 0%;
    position: relative;
  }
}

@media (max-width: 990px) {
  .price-sum p {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .price-block {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .price-img__left {
    display: none;
  }
  .price-title {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .price-text {
    font-size: 30px;
  }
  .price-subtext {
    font-size: 30px;
  }
  .price-sum p {
    font-size: 50px;
  }
}

@media (max-width: 425px) {
  .price-header p {
    opacity: 1;
    font-size: 50px;
    color: #ea0d60;
  }
  .price-header h2 {
    font-size: 40px;
  }
}

.footer {
  position: relative;
}

.footer-header {
  text-align: center;
  padding-top: 90px;
}

.footer-header__text {
  text-align: center;
  margin-bottom: 50px;
}

.footer-header__text h2 {
  margin: 0;
  color: #000000;
  font-family: "Lato - Thin";
  font-size: 54px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer-header__text p {
  margin: 0;
  color: #000000;
  font-family: Lato;
  font-size: 54px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer-header__btn {
  border-radius: 25px;
  background-color: #ea0d60;
  color: #ffffff;
  padding: 20px 44px;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.footer-content {
  padding-top: 150px;
  padding-bottom: 170px;
  width: 1170px;
  margin: auto;
}

.footer-content__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content__block h4 {
  margin: 0;
  color: #000000;
  font-family: Lato;
  font-size: 31px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}

.footer-content__block p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
}

.footer-content__block p:hover {
  cursor: pointer;
  color: #ea0d60;
}

.footer-content__block a {
  color: #ea0d60;
  text-decoration: none;
}

.footer-bottom {
  background-color: #000000;
}

.footer-bottom__block {
  width: 1170px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-bottom__text {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  color: #ffffff;
}

.footer-bottom__logo img {
  margin-right: 10px;
}

.footer-bottom__logo img:hover {
  cursor: pointer;
}

.footer-bottom__logo img:last-child {
  margin-right: 0px;
}

@media (max-width: 1170px) {
  .footer-content {
    width: 990px;
  }
  .footer-bottom__block {
    width: 990px;
  }
}

@media (max-width: 990px) {
  .footer-content {
    width: 768px;
  }
  .footer-bottom__block {
    width: 768px;
  }
}

@media (max-width: 990px) {
  .footer-content {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 425px;
  }
  .footer-content__blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-content__block {
    margin-bottom: 20px;
  }
  .footer-bottom__block {
    width: 425px;
  }
}

@media (max-width: 425px) {
  .footer-content {
    width: 300px;
  }
  .footer-bottom__block {
    width: 300px;
  }
}

.spec-header {
  background: url("../img/specifications/car_spec.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.spec-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.spec-header__text {
  text-align: center;
  margin-top: 90px;
  padding-bottom: 120px;
}

.spec-header__text h2 {
  margin: 0;
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Lato - Thin";
}

.spec-header__text h1 {
  margin: 0;
  color: #ffffff;
  font-family: Lato;
  font-size: 65px;
  font-weight: 400;
  text-transform: uppercase;
}

.spec-header__text p {
  margin: 0;
  color: #ffffff;
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  line-height: 86.05px;
}

.spec-header__text a {
  color: #ea0d60;
}

@media (max-width: 768px) {
  .spec-header__text {
    margin-top: 40px;
  }
  .spec-header__text h1 {
    font-size: 50px;
  }
  .spec-header__text h2 {
    font-size: 50px;
  }
}

@media (max-width: 425px) {
  .spec-header__text {
    margin-top: 50px;
    padding-bottom: 150px;
  }
  .spec-header__text h1 {
    font-size: 38px;
  }
  .spec-header__text h2 {
    font-size: 40px;
  }
  .spec-header__text p {
    font-size: 15px;
  }
}

.journey {
  position: relative;
}

.journey-title {
  position: relative;
}

.journey-title p {
  text-align: center;
  padding-top: 25px;
  margin-right: 600px;
  opacity: 0.4;
  color: #888888;
  font-family: Lato;
  font-size: 65px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}

.journey-title h2 {
  margin: 0;
  width: 528px;
  right: 38%;
  top: 76%;
  position: absolute;
  color: black;
  font-family: Lato;
  font-size: 65px;
  font-weight: 400;
  line-height: 55px;
  z-index: 2;
  text-transform: uppercase;
}

.journey-title span {
  color: #ea0d60;
}

.journey-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.journey-text p {
  margin-top: 60px;
  margin-right: 25px;
  width: 565px;
  color: #111111;
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.1px;
}

.journey-text__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.journey-text__block {
  padding: 20px;
  margin-bottom: 150px;
}

.journey-text__block h4 {
  color: #111111;
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

.journey-text__block p {
  color: #111111;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.08px;
}

.journey-img {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 1110px) {
  .journey-title p {
    margin-bottom: 30px;
    margin-right: 0px;
  }
  .journey-title h2 {
    text-align: center;
    width: 80%;
    margin: auto;
    right: 0%;
    position: relative;
  }
}

@media (max-width: 768px) {
  .journey-text p {
    margin-right: 0px;
    width: 80%;
  }
  .journey-img {
    display: none;
  }
}

@media (max-width: 425px) {
  .journey-text p {
    margin-top: 30px;
  }
  .journey-text__block {
    margin-bottom: 0px;
  }
  .journey-text__block h4 {
    margin: 0;
  }
  .journey-text__block p {
    margin: 0;
  }
  .journey-text__blocks {
    padding-bottom: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .journey-title p {
    opacity: 1;
    font-size: 50px;
    color: #ea0d60;
  }
  .journey-title h2 {
    font-size: 40px;
  }
}

.sale {
  background: black;
  position: relative;
}

.sale-block {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
}

.sale-block h3 {
  margin: 0;
  color: #ffffff;
  font-family: "Lato - Thin";
  font-size: 54px;
  text-transform: uppercase;
  font-weight: 400;
}

.sale-block h2 {
  padding-bottom: 30px;
  margin: 0;
  color: #ffffff;
  font-family: Lato;
  font-size: 54px;
  font-weight: 400;
  text-transform: uppercase;
}

.sale-block a {
  padding: 20px 44px;
  border-radius: 25px;
  background-color: #ea0d60;
  color: #ffffff;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.sale-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.engine-title {
  text-align: center;
  position: relative;
}

.engine-title p {
  text-align: center;
  padding-top: 25px;
  margin-right: 600px;
  opacity: 0.4;
  color: #888888;
  font-family: Lato;
  font-size: 65px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}

.engine-title h2 {
  margin: 0;
  right: 42%;
  top: 74%;
  position: absolute;
  color: black;
  font-family: Lato;
  font-size: 65px;
  font-weight: 400;
  line-height: 55px;
  z-index: 2;
  text-transform: uppercase;
}

.engine-text span {
  color: #ea0d60;
}

.engine-text {
  text-align: center;
}

.engine-text p {
  margin: 0;
  color: #111111;
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.1px;
}

.wheels-title {
  position: relative;
}

.wheels-title p {
  text-align: center;
  padding-top: 25px;
  margin-right: 600px;
  opacity: 0.4;
  color: #888888;
  font-family: Lato;
  font-size: 65px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}

.wheels-title h2 {
  margin: 0;
  width: 528px;
  right: 38%;
  top: 76%;
  position: absolute;
  color: black;
  font-family: Lato;
  font-size: 65px;
  font-weight: 400;
  line-height: 55px;
  z-index: 2;
  text-transform: uppercase;
}

.wheels-text span {
  color: #ea0d60;
}

.wheels-text {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 150px;
}

.wheels-text p {
  margin: 0;
  color: #111111;
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.1px;
}

.footer-black {
  background: black;
}

.footer-black__text h4 {
  color: white;
}

.footer-black__text p {
  color: white;
}
/*# sourceMappingURL=style.css.map */