.journey
    position: relative
    &-title
        position: relative
    &-title p 
        text-align: center
        padding-top: 25px
        margin-right: 600px
        opacity: 0.4
        color: #888888
        font-family: Lato
        font-size: 65px
        font-weight: 400
        line-height: 31px
        text-transform: uppercase
    &-title h2 
        margin: 0
        width: 528px
        right: 38%
        top: 76%
        position: absolute
        color: black
        font-family: Lato
        font-size: 65px
        font-weight: 400
        line-height: 55px
        z-index: 2
        text-transform: uppercase 
    &-title span
        color: #ea0d60
    &-text 
        display: flex
        justify-content: center
    &-text p 
        margin-top: 60px
        margin-right: 25px
        width: 565px
        color: #111111
        font-family: Lato
        font-size: 21px
        font-weight: 400
        line-height: 35px
        letter-spacing: 0.1px
    &-text 
        &__blocks
            display: flex
            justify-content: center
        &__block 
            padding: 20px
            margin-bottom: 150px
        &__block h4 
            color: #111111
            font-family: Lato
            font-size: 21px
            font-weight: 400
            line-height: 35px
            text-transform: uppercase
            letter-spacing: 0.1px
        &__block p 
            color: #111111
            font-family: Lato
            font-size: 16px
            font-weight: 400
            line-height: 25px
            letter-spacing: 0.08px
    &-img 
        position: absolute
        bottom: 0
        left: 0
    
@media (max-width: 1110px)
    .journey
        &-title p
            margin-bottom: 30px
            margin-right: 0px
        &-title h2
            text-align: center 
            width: 80%
            margin: auto
            right: 0%
            position: relative
@media (max-width: 768px)
    .journey
        &-text p 
            margin-right: 0px
            width: 80%
        &-img
            display: none

@media (max-width: 425px)
    .journey
        &-text p 
            margin-top: 30px
        &-text
            &__block 
                margin-bottom: 0px
            &__block h4 
                margin: 0
            &__block p 
                margin: 0
            &__blocks 
                padding-bottom: 50px
                flex-wrap: wrap

        &-title p
            opacity: 1
            font-size: 50px
            color: #ea0d60 
        &-title h2
            font-size: 40px
        
