.spec
    &-header
        background: url('../img/specifications/car_spec.png') no-repeat
        background-position: center
        background-size: cover

        &__nav
            display: flex
            align-items: center
            justify-content: space-between
            padding: 50px
        &__text
            text-align: center
            margin-top: 90px
            padding-bottom: 120px
        &__text h2 
            margin: 0
            color: #ffffff
            font-size: 65px
            font-weight: 400
            text-transform: uppercase
            font-family: "Lato - Thin"
        &__text h1 
            margin: 0
            color: #ffffff
            font-family: Lato
            font-size: 65px
            font-weight: 400
            text-transform: uppercase
        &__text p 
            margin: 0
            color: #ffffff
            font-family: Lato
            font-size: 21px
            font-weight: 400
            line-height: 86.05px
        &__text a 
            color: #ea0d60
        

